@font-face {
  font-family: 'devicon';
  src:
    url('fonts/devicon.ttf?uiou33') format('truetype'),
    url('fonts/devicon.woff?uiou33') format('woff'),
    url('fonts/devicon.svg?uiou33#devicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="devicon-"], [class*=" devicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-kubernetes:before {
  content: "\e900";
  color: #326ce5;
}
.devicon-cordova:before {
  content: "\e96f";
}
.devicon-dlang:before {
  content: "\e96e";
}
.devicon-passport:before {
  content: "\e96c";
}
.devicon-language:before {
  content: "\e96d";
}
.devicon-reflex:before {
  content: "\e969";
}
.devicon-email:before {
  content: "\e96a";
}
.devicon-scylla-dark:before {
  content: "\e967";
}
.devicon-scylla:before {
  content: "\e968";
}
.devicon-k8s-plain:before {
  content: "\e966";
}
.devicon-gnu-plain:before {
  content: "\e965";
}
.devicon-akka-plain:before {
  content: "\e964";
}
.devicon-ramda-plain:before {
  content: "\e963";
}
.devicon-redux-plain:before {
  content: "\e962";
}
.devicon-nix-plain:before {
  content: "\e961";
}
.devicon-haskell-plain:before {
  content: "\e95f";
}
.devicon-codepen-original-wordmark:before {
  content: "\e95d";
}
.devicon-rust-plain:before {
  content: "\e959";
}
.devicon-scala-plain:before {
  content: "\e95b";
}
.devicon-ionic-original:before {
  content: "\e954";
}
.devicon-linkedin-plain:before {
  content: "\e947";
}
.devicon-typescript-plain:before {
  content: "\e920";
}
.devicon-github-original:before {
  content: "\e909";
}
.devicon-c-line:before {
  content: "\e638";
}
.devicon-c-plain:before {
  content: "\e639";
}
.devicon-redis-plain:before {
  content: "\e607";
}
.devicon-docker-plain-wordmark:before {
  content: "\e61e";
}
.devicon-docker-plain:before {
  content: "\e61f";
}
.devicon-react-original:before {
  content: "\e601";
}
.devicon-apple-original:before {
  content: "\e622";
}
.devicon-css3-plain:before {
  content: "\e679";
}
.devicon-git-plain:before {
  content: "\e7a8";
}
.devicon-html5-plain:before {
  content: "\e7f7";
}
.devicon-inkscape-plain:before {
  content: "\e835";
}
.devicon-java-plain:before {
  content: "\e842";
}
.devicon-javascript-plain:before {
  content: "\e845";
}
.devicon-linux-plain:before {
  content: "\eb1c";
}
.devicon-mysql-plain:before {
  content: "\eb61";
}
.devicon-nodejs-plain:before {
  content: "\eb6a";
}
.devicon-postgresql-plain:before {
  content: "\eb7d";
}
.devicon-python-plain:before {
  content: "\eb89";
}
.devicon-ruby-plain:before {
  content: "\ebca";
}
.devicon-sass-original:before {
  content: "\ebcb";
}
.devicon-ubuntu-plain:before {
  content: "\ebd1";
}
.devicon-vim-plain:before {
  content: "\ebf3";
}
.devicon-phone:before {
  content: "\e96b";
}
.devicon-sphere:before {
  content: "\e9c9";
}
.devicon-hackernews:before {
  content: "\eac7";
}
