@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.A3               .sheet { width: 297mm; height: 419mm }
body.A3.landscape     .sheet { width: 420mm; height: 296mm }
body.A4               .sheet { width: 210mm; height: 296mm }
body.A4.landscape     .sheet { width: 297mm; height: 209mm }
body.A5               .sheet { width: 148mm; height: 209mm }
body.A5.landscape     .sheet { width: 210mm; height: 147mm }
body.letter           .sheet { width: 216mm; height: 279mm }
body.letter.landscape .sheet { width: 280mm; height: 215mm }
body.legal            .sheet { width: 216mm; height: 356mm }
body.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           body.A3.landscape { width: 420mm }
  body.A3, body.A4.landscape { width: 297mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
}

.sheet {
  background: #fff;
  background-image: repeating-linear-gradient(-45deg, #eef, #eee 1px, transparent 1px, transparent 12px);
  padding: 13mm;
}

code {
  font-size: inherit;
  font-family: inherit;
  color: #a22;
}

* {
  font-family: 'Inconsolata', Sans;
  line-height: 1.12em;
  box-sizing: border-box;
  --heading-text-size: 8mm;
  --m2: 2.4mm;
  --m: calc(var(--m2) * 2);
  --ml: var(--m);
  --line-width: 2px;
  --fg: #000;
  --bg: #f6f6f6;
  --l1: #888;
  --l2: #ddd;
}

#personal-info > .split {
  grid-template-columns: 1fr 33fr 1fr 33fr 1fr 33fr;
}

#personal-info > .split > .pane:nth-child(2n) {
  padding-left: calc(var(--m) / 2);
}

h2:first-child {
  margin-top: 0;
}

.head {
  text-align: center;
}

.head > * {
  display: inline-block;
}

.tagline {
  margin-top: calc(var(--m) / 2);
  text-align: center;
}

h1 {
  margin-bottom: calc(var(--m));
  padding: 0;
  font-size: var(--heading-text-size);
  line-height: var(--heading-text-size);
  font-family: 'Nova Mono', 'Red Hat Display', Overlock, 'Yeseva One', Palanquin, Viga, 'Monoton', 'Poiret One', sans;
  font-weight: 500;
  border-top: calc(var(--line-width)) solid black;
}

.split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.pane:not(:first-child) {
  padding-left: var(--m);
}

h2 {
  border-bottom: var(--line-width) solid var(--l1);
  margin: var(--m) 0 var(--m2) 0;
}

h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  display: inline;
}

h3, h4 {
  margin-bottom: 0;
  padding: 0;
}

.rating .bar {
  height: var(--line-width);
  background-color: var(--fg);
}

.rating > .dot {
  --r: 3mm;
  width: calc(100% - var(--r));
  position: relative;
}

.rating > .dot > * {
  border-radius: 50%;
  width: var(--r);
  height: var(--r);
  background-color: var(--fg);
  position: absolute;
  margin-top: calc(0px - var(--r) / 2 - var(--line-width) / 2);
}

.section:not(:first-child) {
  border-top: var(--line-width) solid var(--l2);
  padding-top: var(--m2);
  margin-top: var(--m2);
}

.section {
  overflow: hidden;
}

.logod {
  display: flex;
  align-items: start;
}

.logo {
  --ml: var(--m);
  --s: 12mm;
  width: var(--s);
  height: var(--s);
  margin: 4px var(--m) 0 0;
}

.logo > img, .logo > svg {
  width: var(--s);
  max-height: var(--s);
}

.about {
  margin-bottom: 3mm;
}
  
p {
  margin-bottom: 0;
  margin-top: 3mm;
}

a {
  color: var(--fg);
}

ul {
  margin: 0;
  padding-left: 4mm;
}

.bullets > *:not(:first-child), p:not(:first-child) {
  margin-top: var(--m2);
  margin-bottom: 0;
}

aside {
  font-size: 0.8em;
  margin-bottom: 0.5mm;
}

.year {
  float: right;
}

footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

footer > :not(:first-child) {
  margin-left: 3mm;
}
