* {
  font-family: 'Inconsolata', Sans;
  line-height: 1.12em;
  box-sizing: border-box;
  --heading-text-size: 8mm;
  --ml: 8mm;
  --m: 4.5mm;
  --line-width: 2px;
  --fg: #000;
  --bg: #f6f6f6;
  --l1: #888;
  --l2: #ddd;

 --ml: 8mm;
  /*
   text-transform: uppercase;
  */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 3mm;
}

.page {
  display: flex;
  flex-direction: column;
}

.head {
  margin-top: var(--ml);
  /*
  margin-left: var(--ml);
  padding-left: var(--m);
  */
  display: flex;
  justify-content: center;
}

.head-rule {
  --h: var(--line-width);
  background-color: var(--fg);
  height: var(--h);
  --marg: calc(
    0px
    - var(--h) / 2
    - var(--heading-text-size) / 2
    - var(--m)
  );
  margin-top: var(--marg);
  margin-bottom: calc(0px - var(--marg) - var(--h));
}

.tagline {
  margin-top: calc(var(--m) / 2);
  text-align: center;
}

.heading {
  display: inline-block;
  background-color: var(--fg);
  color: var(--bg);
  z-index: 100;
}

h1 {
  margin: var(--m);
  padding: 0;
  font-size: var(--heading-text-size);
  line-height: var(--heading-text-size);
  font-family: 'Red Hat Display', Overlock, 'Yeseva One', Palanquin, Viga, 'Monoton', 'Poiret One', sans;
  font-weight: 500;
}

.split {
  display: grid;
  grid-template-columns: 50fr 50fr;
}

.pane {
  padding: var(--m);
  padding-top: 0;
}

/*
.pane > :first-child {
  margin-top: var(--ml);
}
*/

.pane.one {
  margin-left: var(--ml);
}

.pane.two {
  margin-right: var(--ml);
}

h2 {
  border-bottom: var(--line-width) solid var(--l1);
  margin: var(--m) 0;
}

h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  display: inline;
  margin: 0;
  padding: 0;
}

.skills {
  display: grid;
  --rating-width: 50mm;
  width: 100%;
  grid-template-columns: auto 100fr;
  align-items: center;
  grid-row-gap: 2mm;
  grid-column-gap: 8mm;
  text-align: right;
}

.rating .bar {
  height: var(--line-width);
  background-color: var(--fg);
}

.rating > .dot {
  --r: 4mm;
  width: calc(100% - var(--r));
  position: relative;
}

.rating > .dot > * {
  border-radius: 50%;
  width: var(--r);
  height: var(--r);
  background-color: var(--fg);
  position: absolute;
  margin-top: calc(0px - var(--r) / 2 - var(--line-width) / 2);
}

.section:not(:first-child) {
  border-top: var(--line-width) solid var(--l2);
  padding-top: var(--m);
}

.section {
  overflow: hidden;
  margin-bottom: var(--m);
}

.logod {
  display: flex;
  align-items: center;
}

i[class|="devicon"] {
  /* font-size: 1.2em; */
}

.logo {
  --ml: var(--m);
  --s: 12mm;
  width: var(--s);
  height: var(--s);
  margin: 0;
  margin-right: var(--m);
  float: left;
  display: flex;
  align-items: center;
  justify-content: middle;
}

.logo > img, .logo > svg {
  width: var(--s);
  max-height: var(--s);
}

p {
  margin-bottom: 0;
  margin-top: 3mm;
}

a {
  color: var(--fg);
}

.bullets > *:not(:first-child) , .info > *:not(:first-child), p:not(:first-child) {
  margin-top: 2mm;
  margin-bottom: 0;
}

.year {
  font-size: 0.8em;
  margin-bottom: 0.5mm;
  text-align: right;
}

footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

footer > :not(:first-child) {
  margin-left: 3mm;
}
