code {
  font-size: 1em;
  color: #a22;
}

* {
  font-family: 'Inconsolata', Sans;
  line-height: 1.12em;
  box-sizing: border-box;
  --heading-text-size: 8mm;
  --m2: 2.4mm;
  --m: calc(var(--m2) * 2);
  --ml: var(--m);
  --line-width: 2px;
  --fg: #000;
  --bg: #f6f6f6;
  --l1: #888;
  --l2: #ddd;
}

#personal-info {
  display: grid;
  grid-template-columns: auto 100fr;
  grid-column-gap: var(--m2);
}

#personal-info > span {
  text-align: center;
}

h2:first-child {
  margin-top: 0;
}

.head {
  text-align: center;
}

.head > * {
  display: inline-block;
}

.tagline {
  margin-top: calc(var(--m) / 2);
  text-align: center;
}

h1 {
  margin: calc(var(--m) * 2);
  padding: 0;
  font-size: var(--heading-text-size);
  line-height: var(--heading-text-size);
  font-family: 'Nova Mono', 'Red Hat Display', Overlock, 'Yeseva One', Palanquin, Viga, 'Monoton', 'Poiret One', sans;
  font-weight: 500;
  border-top: calc(var(--line-width)) solid black;
}

.split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pane {
  padding-left: var(--m);
}

main {
  padding: 0 var(--m);
}

h2 {
  border-bottom: var(--line-width) solid var(--l1);
  margin: var(--m) 0 var(--m2) 0;
}

h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  display: inline;
}

h3, h4 {
  margin-bottom: 0;
  padding: 0;
}

.skills {
  display: grid;
  width: 100%;
  grid-template-columns: auto 100fr;
  align-items: center;
  grid-row-gap: 1mm;
  grid-column-gap: 4mm;
  text-align: right;
}

.rating .bar {
  height: var(--line-width);
  background-color: var(--fg);
}

.rating > .dot {
  --r: 3mm;
  width: calc(100% - var(--r));
  position: relative;
}

.rating > .dot > * {
  border-radius: 50%;
  width: var(--r);
  height: var(--r);
  background-color: var(--fg);
  position: absolute;
  margin-top: calc(0px - var(--r) / 2 - var(--line-width) / 2);
}

.section:not(:first-child) {
  border-top: var(--line-width) solid var(--l2);
  padding-top: var(--m2);
  margin-top: var(--m2);
}

.section {
  overflow: hidden;
}

.logod {
  display: flex;
  align-items: center;
}

.logo {
  --ml: var(--m);
  --s: 12mm;
  width: var(--s);
  height: var(--s);
  margin: 0;
  margin-right: var(--m);
  float: left;
  display: flex;
  align-items: center;
  justify-content: middle;
}

.logo > img, .logo > svg {
  width: var(--s);
  max-height: var(--s);
}

p {
  margin-bottom: 0;
  margin-top: 3mm;
}

a {
  color: var(--fg);
}

ul {
  margin: 0;
  padding-left: 4mm;
}

.bullets > *:not(:first-child), p:not(:first-child) {
  margin-top: var(--m2);
  margin-bottom: 0;
}

aside {
  font-size: 0.8em;
  margin-bottom: 0.5mm;
}

.year {
  text-align: right;
}

footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

footer > :not(:first-child) {
  margin-left: 3mm;
}
